<main>
    <form class="product-form" action="/admin/add-product" method="post">
        <div class="form-control">
            <label for="Title">Title:</label>
            <input type="text" name="product" placeholder="Enter the product name">
            <button type="submit">Add Product</button>
        </div>
    </form>
</main>